
<h4> Purchases: </h4>

<% unless @codes.empty? %>
	<ul>
		<% @codes.each do |code| %>
			<li><%= "#{code.product.name}" %> -
			    (<%= time_to_gmt(code.expires_at).strftime("expires: %a %d/%m/%y at %H:%M") %>) -
			    <% unless download_expired? code.expires_at %>
            <%= link_to 'Watch lesson', watch_path(:id => code.id) %>
			    <% end %>
			</li>
		<% end %>
	</ul>
<% end %>

