<footer>

  <copyright>All rights reserved to: Elearning - Web Development by: Webnasium</copyright>

  <nav class="round">
    <ul>
      <li><%= link_to "Home", root_path %></li>
      <li><%= link_to "About us", about_path %></li>
      <li><%= link_to "FAQ", faq_path %></li>
      <li><%= link_to "Contact us", contact_path %></li>    </ul>
  </nav>

</footer>

